h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: royalblue;
}


body{
    text-align:center;
    background-image:url("https://www.worldanvil.com/uploads/images/3d203faa6982a9f4a8302798ec0490e6.jpg");
}

.white{
    color:white;
}
.royalblue{
    color:royalblue;
}
.skyblue{
    color:skyblue;
}
.red{
    color:red;
}
.yellow{
    color:yellow;
}